table {
    border-collapse: collapse;
    width: 100%;
}

th, tr, td {
    border: 1px solid;
    padding: 5px 10px;
}

th {
    background-color: rgb(83, 98, 104);
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: rgb(226, 223, 223);
}

tr td:last-child {
    text-align: center;
}